@import "variables";

/*---------------------- Dashboard ------------------------*/
.diet {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .dietBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .kcalExpend {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 10px;
      font-weight: normal;
      text-transform: uppercase;
      gap: 10px;
    }
    .kcalOverview {
      .radialProgressBar {
        border-radius: 50%;
        width: 165px;
        height: 165px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: rgba(126, 42, 43, 0.3);
        margin: 0px;
        float: left;

        .overlay {
          border-radius: 50%;
          width: 155px;
          height: 155px;
          margin: auto;
          background: $color-primary;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 10px;
          h2 {
            font-style: italic;
            width: 100%;
          }
        }
      }
      .text {
        font-size: 10px;
        font-weight: normal;
        text-transform: uppercase;
      }
    }
    .kcalBurn {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 10px;
      font-weight: normal;
      text-transform: uppercase;
      gap: 10px;
    }
    h5 {
      font-style: italic;
    }
    .kcalBurn {
    }
  }
  .dietProgress {
    background-color: $color-secondary-1;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 9px;
      .progressBar {
        width: 100%;
        height: 4px;
        background-color: $color-secondary-3;
        border-radius: 10px;
        position: relative;
        .progressDone {
          position: absolute;
          top: 0;
          left: 0;
          background-color: $color-secondary;
          height: 100%;
        }
      }
    }
  }
  .addFood {
    display: flex;
    gap: 10px;
    flex-direction: column;
    .navCalendar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .selectDays {
        display: flex;
        align-items: center;
        gap: 5px;
        text-transform: uppercase;
      }
    }
    > div:not(.navCalendar, .verreEau) {
      background-color: $color-secondary-1;
      border-radius: 10px;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .title {
          font-size: 14px;
          line-height: 16px;
          font-weight: bold;
        }
      }
      .MuiSvgIcon-root {
        color: rose;
      }
    }
    .verreEau {
      display: flex;
      flex-direction: column;
      background-color: $color-secondary-1;
      border-radius: 10px;
      padding: 15px;
      gap: 10px;
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        .nonBu {
          position: relative;

          img {
            opacity: 0.5;
          }
          .iconAdd {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
  .listProgram {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
      text-transform: uppercase;
      text-align: center;
    }
    .programScroll{
      overflow-x: auto;
      .programsContainer {
        display: flex;
        gap: 10px;
        width: max-content;
        overflow-x: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
        .program {
          display: flex;
          flex-direction: column;
          background-color: $color-secondary-1;
          border-radius: 10px;
          padding: 15px;
          gap: 10px;
          .categorie {
            font-size: 10px;
            text-transform: uppercase;
            font-weight: lighter;
          }
          .name {
            font-size: 14px;
          }
          .description {
            font-size: 10px;
            font-weight: lighter;
          }
        }
    }
    }
  }
}
