// @import "variables";

.profile {
  padding: 0 10px;
  .presentation {
    background-color: black;
  }
  .personnalisation {
    background-color: black;
    .personnalisation-list {
      .personnalisation-item {
        padding: 10px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
