@import "variables";

/*---------------------- Profile ------------------------*/
.profile {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .presentation {
    background-color: $color-secondary-1;
    border-radius: 10px;
    padding: 20px;

    .general {
      border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
      display: flex;
      padding-bottom: 20px;

      .imageProfil {
        > svg {
          font-size: 50px;
          color: white;
        }
      }
      .information {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }

    .mesures {
      & > li {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
      }
    }
  }
  .personnalisation {
    background-color: $color-secondary-1;
    border-radius: 10px;
    padding: 0 20px;

    .personnalisation-list {
      list-style-type: none;

      .personnalisation-item {
        color: white;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);

        svg:first-child {
          color: $color-secondary-2;
        }

        span {
          width: 100%;
          padding-left: 20px;
          display: flex;
          align-items: center;
        }
        svg:first-child {
          color: $color-secondary-2;
        }

        &:last-child {
          border: 0;
        }

        .MuiSvgIcon-root {
          color: white;
        }
      }
    }
  }
}

/*---------------------- Mes informations ------------------------*/
.mesInfos {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .infosContainer {
    background-color: $color-secondary-1;
    border-radius: 10px;
    padding: 20px;
    .infos-list {
      li {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
        padding-bottom: 20px;
        .infos-list,.infos-list *{
          color: $color-secondary-2;
        }
        &:not(:first-child){
          padding-top: 20px;
        }
        &:last-child{
          border: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}

/*---------------------- Notfications ------------------------*/
.notifications {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .notifsContainer {
    background-color: $color-secondary-1;
    border-radius: 10px;
    padding: 20px;
    .infos-list {
      li {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
        padding-bottom: 20px;
        .infos-list,.infos-list *{
          color: $color-secondary;
        }
        &:not(:first-child){
          padding-top: 20px;
        }
        &:last-child{
          border: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}