// Couleurs principales
$color-primary: #7e2a2b;
$color-secondary: #ffffff;

// Couleurs secondaires
$color-secondary-1: #201a1a;
$color-secondary-2: #ffb3b0;
$color-secondary-3: #412d05;
$no-color: transparent;

// Police de caractère - Variable
$font-family: "Poppins", sans-serif;
